<div class="container mt-4">

<h3>Panel Admin - Promociones</h3>

<button class="btn btn-success mb-3"
data-bs-toggle="modal"
data-bs-target="#modalPromo">
+ Agregar Promoción
</button>


<!-- MODAL -->
<div class="modal fade" id="modalPromo">

<div class="modal-dialog">

<div class="modal-content">

<div class="modal-header">

<h5 class="modal-title">
Nueva Promoción
</h5>

<button type="button"
class="btn-close"
data-bs-dismiss="modal">
</button>

</div>


<div class="modal-body">

<form (ngSubmit)="guardar()">

<div class="mb-2">

<label>Título</label>

<input
class="form-control"
[(ngModel)]="promo.titulo"
name="titulo">

</div>


<div class="mb-2">

<label>Descripción</label>

<textarea
class="form-control"
[(ngModel)]="promo.descripcion"
name="descripcion">
</textarea>

</div>


<!-- SELECT PRODUCTO -->

<div class="mb-2">

<label>Producto</label>

<select
class="form-control"
[(ngModel)]="promo.producto_id"
name="producto_id">

<option
*ngFor="let p of productos"
[value]="p._id">

{{p.nombre}}

</option>

</select>

</div>


<div class="mb-2">

<label>Tipo de promoción</label>

<select
class="form-control"
[(ngModel)]="promo.tipo"
name="tipo">

<option value="porcentaje">
Descuento %
</option>

<option value="precio">
Precio especial
</option>

<option value="2x1">
2x1
</option>

<option value="combo">
Combo
</option>

</select>

</div>


<div class="mb-3">

<label>Valor</label>

<input
type="number"
class="form-control"
[(ngModel)]="promo.valor"
name="valor">

</div>


<button class="btn btn-primary w-100">
Guardar Promoción
</button>

</form>

</div>

</div>

</div>

</div>


<!-- TABLA PROMOCIONES -->

<table class="table table-bordered table-hover">

<thead class="table-dark">

<tr>
<th>Titulo</th>
<th>Producto</th>
<th>Tipo</th>
<th>Valor</th>
<th>Acciones</th>
</tr>

</thead>

<tbody>

<tr *ngFor="let p of lista">

<td>{{p.titulo}}</td>

<td>{{p.producto_id}}</td>

<td>{{p.tipo}}</td>

<td>{{p.valor}}</td>

<td>

<button
class="btn btn-danger btn-sm"
(click)="eliminar(p._id)">
Eliminar
</button>

</td>

</tr>

</tbody>

</table>

</div>